/* *, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */
/* main {
  display: flex;
  flex-direction: column;
  align-items: center;
} */
.sliderContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px 0;
}
.sliderContainer .slider {
  position: relative;
  height: 500px;
  width: 350px;
  overflow: hidden;
}
@media only screen and (max-width: 375px) {
  .sliderContainer .slider {
    height: 400px;
    width: 300px;
  }
}
.sliderContainer .slider .image {
  position: absolute;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  will-change: transform, opacity;
}
.sliderContainer .slider .image:hover {
  cursor: grab;
}
.sliderContainer .slider .image:active {
  cursor: grabbing;
}
.sliderContainer .buttons {
  margin-top: 12px;
}
.sliderContainer .buttons button {
  outline: none;
  border: none;
  user-select: none;
  padding: 10px 12px;
  transform: skewY(-5deg) rotate(5deg);
  background-color: #1f1f1f;
  font-family: inherit;
  font-size: inherit;
  color: white;
  transition: 0.07s ease-out transform;
}
.sliderContainer .buttons button:first-of-type {
  margin-right: 15px;
}
.sliderContainer .buttons button:hover {
  cursor: pointer;
}
.sliderContainer .buttons button:active {
  transform: scale(0.85) skewY(-5deg) rotate(5deg);
}
.thumbnails {
  display: flex;
  justify-content: center;
}
.thumbnails .thumbnailContainer {
  position: relative;
  height: 120px;
  width: 90px;
}
@media only screen and (max-width: 375px) {
  .thumbnails .thumbnailContainer {
    height: 70px;
    width: 50px;
  }
}
.thumbnails .thumbnailContainer:hover {
  cursor: pointer;
}
.thumbnails .thumbnailContainer:not(:last-of-type) {
  margin-right: 5px;
}
.thumbnails .thumbnailContainer img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.thumbnails .thumbnailContainer .activeIndicator {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
  transform: scaleX(0);
  transform-origin: left;
  background-color: #000;
  transition: 1s cubic-bezier(0.56, 0.03, 0.12, 1.04) transform;
}
.thumbnails .thumbnailContainer .activeIndicator.active {
  transform: scaleX(1);
}
