@import "tailwindcss";

:root {
  --color-primary: 245, 114, 100;
  --color-secondary: 111 114 185;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

input:focus,
button:focus {
  outline: none;
}
/* // button:focus {outline:0;} */

.svg-icon {
  /* fill: currentColor;
 width: 1em;
 height: 1em;
 display: inline-block; */
  user-select: none;
  flex-shrink: 0;
}

.lvtd-hidden {
  display: none;
}
