.latestProjects {
  position: relative;
  z-index: 1;
  display: block;
  max-width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
.latestProjectsHeader {
  position: relative;
  display: flex;
  width: 100%;
  background: #fff;
  border-bottom: 0.0625rem solid #f1f3f8;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  padding: 8px 75px;
}
.latestProjectsHeaderBtnList {
  display: flex;
  grid-gap: 0.25rem;
  position: absolute;
  top: calc(50% - 0.25rem);
  left: 1rem;
}
.latestProjectsHeaderBtnList > span {
  width: 0.5rem;
  height: 0.5rem;
  background-color: #e7eaf3;
  border-radius: 50%;
}
.latestProjectsHeaderBrowserBar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #677788;
  background-color: #e7eaf3;
  font-size: 0.5rem;
  border-radius: 0.125rem;
}
.latestProjectsFrame {
  background: #fff;
  box-shadow:
    0 2.75rem 5.5rem -3.5rem rgba(189, 197, 209, 0.5),
    0 2rem 4rem -2rem rgba(33, 50, 91, 0.3);
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}
.latestProjectsFrame img {
  max-width: 100%;
  height: auto;
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}
.latestProjectsBgFrame {
  position: absolute;
  z-index: -1;
  margin-left: -2.5rem;
  margin-bottom: -2.5rem;
  height: 100%;
  width: 100%;
  left: 0;
  bottom: 0;
  opacity: 0.3;
}
